*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
/* Header style */
.header-holder{
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    border:1px solid #C3D4E9;
}

/* Split Holder or Small Cards Holder after header */
.split-holder{
    /* border: 1px solid black; */   
    display: flex;
  justify-content: space-between;
}

.split-left{
    /* border: 1px solid black; */
    margin-left: 1em;
    width: 48%;
}

.split-right{
    /* border: 1px solid black; */
    width: 48%;
    
    margin-top: -23em;
}

/* footer styling */
.footer{
    margin-top: 1em;
    padding: 1em;
    padding-top: 4em;
    border:1px solid #C3D4E9;
}

ul{
    list-style: none;
}

li{
    margin-left: -40px;
    line-height: 2em;
}

.footer-1{
    /* border: 1px solid black; */
    margin-left: 30%;
    margin-top: -7em;
}
.footer-2{
    /* border: 1px solid black; */
    margin-left: 50%;
    margin-top: -10.5em;
}
.footer-3{
    /* border: 1px solid black; */
    margin-left: 70%;
    margin-top: -10.5em;
}

/* SINGLE CAR CARD STYLING */
.single-car{
    /* border: 1px solid black; */
    border:1px solid #C3D4E9;
    margin-top: 1em;
    padding: 1em;
    line-height: 1.0em;
    border-radius: 9px;
    margin-left: 1em;
    width: 270px;
}

.btn-small{
    background-color: #2a60B7;
    color: white;
    border: #2a60B7;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    cursor:pointer;
}

.btn-small:hover{
    border: 1px solid #2a60B7;
    color: #2a60B7;
    background-color: white;
}

.main-holder{
    display: grid;
    grid-template-columns: repeat(4,1fr)
}

.img-small{
    width: 230px;
}

/* DETAIL PAGE STYLING */
.detail-holder{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1em;
    margin-left: 3em;
}
.detail-image-holder{
    border: 1px solid #2a60B7 ;
    padding: 1em;
    margin: .5em;
}

.detail-car-details{
    border: 1px solid #2a60B7 ;
    padding: 1em;
    margin: .5em;
    border-radius: 4px;


}

.btn-book-lg{
    width: 100%;
    margin-top: 1em;
}

.btn-unavailable{
    width: 100%;
    margin-top: 1em;
    height: 40px;
    border: 1px solid gray;
    border-radius: 4px;
    color: gray;
    background-color: white;
    cursor: help;
}

.payment-holder{
    display: grid;
    grid-template-columns:3fr 1fr;
    grid-column: 2fr 1fr;

}

.input-txt{
   width: 300px;
   height: 30px;
   border-radius: .3em;
   margin-bottom: 1em;
}

.detail-car-details{
    
}

.detail-car-details-left{
    height: 400px;
}

.login-holder{
    border: 1px solid #2a60B7;
    padding: 2em;
    width: 600px;
    line-height: 2em;
    margin-left: 12em;
}

.small-display{
    display: none;
}

.question-holder{
    cursor:pointer ;
   
}

.answer-holder{
    display: none;
}
/* Mobile Screen Design */

@media screen and (max-width:576px){
   .footer-2{
    display: none;
   }
   .footer-3{
    display: none;
   }
   .footer-1{
    display: none;
   }
   .split-right{
    display: none;
   }
   .split-left{
    display: none;
   }
   .main-holder{
    display:contents;
    
   }
   .single-car{
    /* width: 200px; */
    margin-left: 2em;
   }
   .small-display{
    display: block;
    padding: 1em;
    border: 1px solid #2a60B7;
    margin: 1.5em;
    background-color: #2a60B7;
   }
   .detail-holder{
    display: contents;
   }
   .payment-holder{
    display: contents;
   }
   .detail-car-details{
    height: 500px;
   }
   
}