{% extends 'base/index.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Fequently Asked Questions</h1>
    <br>
    <div class="question-holder" id="question-holder">
        <b>What documents will i need to provide?</b>
        <hr>
    </div>
    <div id="answer-holder" class="answer-holder">
        <p>You will need to bring your driving license with you when you come to collect your car. You must have held a driving license for at least one year.</p>
        <p>You will also need to provide a copy of your payment receipt for verification purpose, before you come to collect your car</p>
    </div>

    <div class="question-holder" id="question-holder-2">
        <b>Can I extend the rental period?</b>
        <hr>
    </div>
    <div id="answer-holder-2" class="answer-holder">
        <p>Of Course- You can extend your reservation period at any time before the rental. However, this willl affect the cost of your rental and it is always subject to availability.</p>
        <p>To extend your rental period once you have picked up the car, you will need to contact MONRENT rental location, where you are due to return the car.</p>
    </div>

    <div class="question-holder" id="question-holder-3">
        <b>Can anyone else other than myself drive the car?</b>
        <hr>
    </div>
    <div id="answer-holder-3" class="answer-holder">
        <p>Only drivers mentioned in the rental form are allowed to drive Monrent vehicle. if the car is used by a non-authorized driver the insurance stops to apply.</p>
    </div>


    <div class="question-holder" id="question-holder-4">
        <b>What fuel does my car take?</b>
        <hr>
    </div>
    <div id="answer-holder-4" class="answer-holder">
        <p>Once you pick up the car, the representative at the rental desk will advise you on what fuel type os required for the car. Usually there is an indication at the petrol cap as well.</p>
    </div>
</div>

{% endblock %}