{% extends 'base/index.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h3>Feedback Form</h3>
    <form action="" method="post">
        {% csrf_token %}
    
    <div class="row">
        <div class="col">
            <label for="full_name">Fullname:</label> 
          <input type="text" name="full_name" id="full_name" class="form-control"> 
        </div> 
        <div class="col">
            <label for="phone">Phone Number:</label>
            <input type="text" name="phone_number" id="phone_number" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="email-address">Email Address: </label>
            <input type="email" name="email-address" id="email-address" class="form-control">
        </div>
        <div class="col">
            <label for="car-category">Car Category/Type:</label>
            <input type="text" name="car-category" id="car-category" placeholder="SPORT/SUV/TRUCK" class="form-control">
        </div>
    </div>
    <br>
    <b>Feedback</b>
    <hr>
    <div class="row">
        <div class="col">
            <label for="vehicle-cleanliness">Vehicle Cleanlines and vehilce condition</label>
            <select name="vehicle-cleanliness" id="vehicle-cleanliness" class="form-select">
                <option value="Very Good">Very Good</option>
                <option value="Good">Good</option>
                <option value="Fair">Fair</option>
                <option value="Poor">Poor</option>
                <option value="very poor">Very Poor</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <label for="pickup_and_dropoff">Pickup and Dropoff Process:</label>
            <select name="pickup_and_dropoff" id="pickup_and_dropoff" class="form-select">
                <option value="Very Good">Very Good</option>
                <option value="Good">Good</option>
                <option value="Fair">Fair</option>
                <option value="Poor">Poor</option>
                <option value="very poor">Very Poor</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="staff-professionalism">Staff Professionalism and Helpfulness:</label>
            <textarea name="staff-professionalism" id="staff-professionalism" cols="30" rows="5" class="form-control"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </div>
</form>
    
</div>

{% endblock %}